@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
    /*box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

    color:aliceblue;*/
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--dark-gray);
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;

    background-color: black;
    color:aliceblue
}

button {
    padding: 8px;
    color: black;
    cursor: pointer;
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.7;
}

input {
    padding: 8px;
    color: black;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

    background-color: blanchedalmond;
    color:black;
}

.main {
    display: flex;
    flex:1;
    flex-direction: column;
    color:white;
    padding: 20px 40px;
}

.footer {
    background-color: blanchedalmond;
    padding: 10px;
    color: black
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section {
    
}
